*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-size: 1.2rem;
    background-color: #202124;
}

/* ---------HEADER STYLES-----------*/

.header{
    display: flex;
    width: 100%;
    height: 5rem;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 1.5rem;
}
.header-buttons{
    display: flex;
    width: 28rem;
    align-items: center;
    justify-content: space-around;
}
.color-blue{
    background-color: #8ab4f8;
    color: #202124;
    outline: none;
    border: none;
}
.link{
    text-decoration:none;
    color: #e8eaed;
    border-bottom: 1px solid #202124;
}
.link:hover{
    border-bottom: 1px solid #e8eaed;
}
.icon-menu__hamburguer{padding: 0.5rem;}
.icon-menu__hamburguer:hover{
    background-color: rgba(125, 125, 125, 0.2);
    border-radius: 2rem;
}
/* ----------MAIN STYLES ----------- */

.main-section{
    width: 55rem;
    margin-right: auto;
    margin-left: auto;
}
.main-section__imgGoogle,
.image-Google, .main-section__searchInput,
.main-section__buttons{
    width: 100%;
    text-align: center;
    margin-bottom: 2.8rem;
}
.searchInput{
    display: flex;
    width: 100%;
    height: 3.9rem;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 1.9rem;
    padding: 0 3px;
}
.searchInput-searchIcon,
.searchInput-mic{
    width: 2rem;
    height: 2rem;
}
.searchInput-input{
    width: 44rem;
    height: 3rem;
    border: none;
    outline: none;
    background-color: #202124;
    color: #e8eaed;
}
.main-section__buttons1{
    margin-bottom: 2.5rem;
}
.button{
    padding: 8px 15px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    border: 1px solid #303134;
}
.button:hover{ border: 1px solid #5f6368; }
.color-transparent{
    background-color: #303134;
    color: #e8eaed;
}
.text-link{
    color: #8ab4f8;
    text-decoration: none;
    border-bottom: 1px solid #202124;
}
.text-link:hover{ border-bottom: 1px solid #8ab4f8; }
.text-normal{ color: #e8eaed; }
.text-red{ color: #ff0000; }


/* ------- FOOTER STYLES --------- */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 1.3rem;
    width: 100%;
    background-color: #171717;
}
.footer-country,
.footer-info{
    height: 4rem;
    padding: 0 3rem;
}
.footer-country{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #212327;
}
.footer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link-gray{
    text-decoration:none;
    color: gray;
    border-bottom: 1px solid #202124;
    margin-right: 1.6rem;
}
.link-gray:hover{ border-bottom: 1px solid gray; }